{% load static %}


<!DOCTYPE html>
<html>
<head>

	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'recognition/img/logo2.png' %}" />


	
</head>
<body >
<nav class="main-header navbar bg-secondary navbar-white py-4">

          <a href="{% url 'home' %}" class="navbar-brand">
            <img
              src="{% static 'recognition/img/logo2.png' %}"
              alt="AdminLTE Logo"
              class="img-circle"
              style="width: 110px; height:90px;"
            />
          </a>
          <h1 class="text-white text-center display-3 text-uppercase">PRESENCE</h1>
<!--           Right navbar links-->
          <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
              <a class="button btn btn-primary" href='{%url "login" %}'>Admin Login</a>
            </li>
          </ul>

        </div>

      </nav>
 
<div class="alert alert-danger" role="alert" style=" margin-top: 50px;  max-height: 50px;">
  <h3>Sorry, {{user.username}}. You are not authorised to view this page.</h3>
</div>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>